
.widget {
    display: flex;
    height: 300px;
    width: 800px;
    background-color: #87ceeb;
    font-family: Montserrat Alternates;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
  
.weatherIcon{
    flex: 1 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
i{
    padding-top: 30px;
}
.weatherInfo{
    flex: 0 0 70%;
    height: 40%;
    background: #080705;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
}

.temperature{
    flex: 0 0 40%;
    width: 100%;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-around;
}
    
.description{
flex: 0 60%;
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
justify-content: center;
}
      
.weatherCondition{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 100;
}
      
.place{
font-size: 16px;
}

  
.date{
flex: 0 0 30%;
opacity: 1;
height: 40%;
background: #818479;
border-bottom-right-radius: 10px;
display: flex;
justify-content: space-around;
align-items: center;
color: #1b1919;
font-size: 25px;
font-weight: 800;
}


p{
  position: fixed;
  bottom: 0%;
  right: 2%;
}
a{
text-decoration: none;
color: #E4D6A7;
font-size: 10px;
}
